.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 90rem;
  border-radius: 3px;
 
}

h5{
  font-family: Georgia, serif;
  font-style: oblique 23deg;
  color: blueviolet;
}

h6{
  font-family: Georgia, serif;
 
  color: blueviolet;
}

.Card{
  border-radius: 10px;
}